<mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>
        <button mat-button ><h3>Recipe Book</h3></button>
        <button mat-button (click)="onSelect('recipe')">Recipes</button>
        <button mat-button (click)="onSelect('shop')">Shop</button>
        <span class="example-spacer"></span>
        <button mat-button [matMenuTriggerFor]="manage"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #manage="matMenu">
        <button mat-menu-item>
            <mat-icon>file_download</mat-icon>
            <span>Fetch Data</span>
        </button>
        <button mat-menu-item>
            <mat-icon>save</mat-icon>
            <span>Save Data</span>
        </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>