<mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>
        <button mat-button
                routerLinkActive= "mark-menu"
                [routerLinkActiveOptions]= "{exact: true}"
                [routerLink]="['']"><h3>Recipe Book</h3></button>
        <button mat-button 
                routerLinkActive= "mark-menu"
                routerLink="recipes">Recipes</button>
        <button mat-button 
                routerLinkActive= "mark-menu" 
                [routerLink]="['shop']">Shop</button>
        <button mat-button 
                routerLinkActive= "mark-menu" 
                [routerLink]="['user']">User</button>
        <span class="example-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="manage"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #manage="matMenu">
        <button mat-menu-item>
            <mat-icon>file_download</mat-icon>
            <span>Fetch Data</span>
        </button>
        <button mat-menu-item>
            <mat-icon>save</mat-icon>
            <span>Save Data</span>
        </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>