<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <mat-card class="recipe-card">
        <mat-card-header>
            <mat-card-title>
                <span>
                    {{ editMode ? 'Update' : 'Add New'}} Recipe
                </span>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="container-recipes-edit">                
                <div class="form-field">
                    <mat-form-field>
                        <input matInput type="text" formControlName="name" placeholder="Name">
                    </mat-form-field>
                </div>
                <div class="form-field">
                    <mat-form-field>
                        <input matInput type="text" formControlName="imagePath" placeholder="Image URL" #imagePath>
                    </mat-form-field>
                </div>
                <div class="form-field">
                    <img class="recipe-image" [src]="imagePath.value" [alt]="imagePath.value">
                </div>
                <div class="form-field">
                    <mat-form-field>
                        <textarea matInput name="description" formControlName="description" rows="3" placeholder="Description"></textarea>
                    </mat-form-field>
                </div>
                <div class="ingredient-container" formArrayName="ingredients">
                    <div *ngFor= "let ingredientCtrl of recipeForm.get('ingredients').controls; let i = index" [formGroupName]="i">
                        <mat-form-field>
                            <input matInput type="text" formControlName="name" placeholder="Ingredient name">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="number" formControlName="amount" placeholder="Amount">
                        </mat-form-field>
                        <button mat-mini-fab color="warn" type="button" (click)="onDeleteIngredient(i)"><mat-icon>delete</mat-icon></button>
                    </div>
                    <button mat-raised-button color="accent" type="button" (click)="onAddIngredient()" style="margin-top: 3px">Add Ingredient</button>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="primary" type="submit" [disabled]="!recipeForm.valid">Save</button>
            <button mat-button color="warn" type="button" (click)= "onBack()">Cancel</button>
        </mat-card-actions>
    </mat-card>
</form>


