<mat-card>
  <mat-card-header>
    <div mat-card-avatar><mat-icon>restaurant_menu</mat-icon></div>
    <mat-card-title>{{ recipe.name }}</mat-card-title>
    <mat-card-subtitle>{{ recipe.description }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="recipe.imagePath" [alt]="recipe.name">
  <mat-card-content>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="manageRecipe">Manage Recipe</button>
    <mat-menu #manageRecipe="matMenu">
      <button mat-menu-item (click)="onShopping()">Shop</button>
      <button mat-menu-item (click)="onEditRecipe()">Edit</button>
      <button mat-menu-item>Delete</button>
    </mat-menu>    
    <mat-list>
      <h3 mat-subheader>Ingredients</h3>
      <mat-list-item *ngFor = "let ingredient of recipe.ingredients">
        {{ingredient.name}}({{ingredient.amount}})
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>