<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ recipe.name }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="recipe.imagePath" [alt]="recipe.name">
  <mat-card-content>
    <div class="btn-group">
      <button mat-raised-button color="primary">Manage Recipe</button>
      <div class="dropdown-menu">
        <a href="#" class="dropdown-item">Shopping List</a>
        <a href="#" class="dropdown-item">Edit</a>
        <a href="#" class="dropdown-item">Delete</a>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<!-- <div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-responsive" style="max-height: 200px">    
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>{{ recipe.name }}</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle">Manage Recipe</button>
      <div class="dropdown-menu">
        <a href="#" class="dropdown-item">Shopping List</a>
        <a href="#" class="dropdown-item">Edit</a>
        <a href="#" class="dropdown-item">Delete</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ recipe.description }}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div> -->