<mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>
        <button mat-button
                routerLinkActive= "mark-menu"
                [routerLinkActiveOptions]= "{exact: true}"
                [routerLink]="['']"><h3>Recipe Book</h3></button>
        <button mat-button 
                routerLinkActive= "mark-menu"
                routerLink="recipes">Recipes</button>
        <button mat-button 
                routerLinkActive= "mark-menu" 
                [routerLink]="['shop']">Shop</button>
        <span class="example-spacer"></span>
        <button mat-button type="button" [routerLink] = "['register']" *ngIf="!isAuthenticated()">Register</button>
        <button mat-button type="button" [routerLink] = "['login']" *ngIf="!isAuthenticated()">Login</button>
        <button mat-button type="button" (click)="onLogout()" *ngIf="isAuthenticated()">Logout</button>
    </mat-toolbar-row>
</mat-toolbar>